<div class="container mt-5 mb-5 w-100">
    <h1 class="display-4">{{getTranslate('contact')}}</h1>
    <hr class="">

    <div class="row row-cols-1">

        <!-- Address -->
        <div class="col-12 mb-3">
            <div class="row g-0">
                <div class="col-sm-2">
                    <h6>{{getTranslate('address')}}</h6>
                </div>
                <div class="col-sm">
                    <p class="text-secondary">Fevzi Çakmak Mh. 10644 Sk. No:46/G Karatay/Konya</p>
                </div>
            </div>
        </div>

        <!-- Phone -->
        <div class="col-12 mb-3">
            <div class="row g-0">
                <div class="col-sm-2">
                    <h6>{{getTranslate('phone')}}</h6>
                </div>
                <div class="col-sm">
                    <p class="text-secondary">+90 332 345 06 95</p>
                </div>
            </div>
        </div>

        <!-- GSM -->
        <div class="col-12 mb-3">
            <div class="row g-0">
                <div class="col-sm-2">
                    <h6>{{getTranslate('gsm')}}</h6>
                </div>
                <div class="col-sm">
                    <p class="text-secondary">+90 542 519 09 40</p>
                </div>
            </div>
        </div>

        <!-- Email 1 -->
        <div class="col-12 mb-3">
            <div class="row g-0">
                <div class="col-sm-2">
                    <h6>{{getTranslate('email')}} 1</h6>
                </div>
                <div class="col-sm">
                    <p class="text-secondary"> info@allentplastik.com </p>
                </div>
            </div>
        </div>

        <!-- Email 2 -->
        <div class="col-12 mb-3">
            <div class="row g-0">
                <div class="col-sm-2">
                    <h6>{{getTranslate('email')}} 2</h6>
                </div>
                <div class="col-sm">
                    <p class="text-secondary">dagbulent@hotmail.com</p>
                </div>
            </div>
        </div>

        <!-- GPS Location -->
        <div class="col-12 mb-3">
            <div class="row g-0">
                <div class="col-sm-2">
                    <h6>{{getTranslate('location')}}</h6>
                </div>
                <div class="col-sm">
                    <agm-map [latitude]="lat" [longitude]="lng">
                        <agm-marker [latitude]="lat" [longitude]="lng"></agm-marker>
                    </agm-map>
                </div>
            </div>
            
        </div>
    </div>
</div>

<!--  -->