<nav class="navbar sticky-top navbar-expand-lg navbar-light bg-custom bg-white bd-navbar" aria-label="Main navigation">
    <div class="container-xl flex-wrap flex-md-nowrap">
        <a class="navbar-brand" routerLink="/">
            <img src="assets/logo/allent_logo_without_text.png" height="40" class="d-inline-block align-text-top">
            <!-- <strong class="ms-1">Allent</strong> -->
        </a>
        <button class="navbar-toggler p-0 border-0" type="button" data-bs-toggle="offcanvas" id="navbarSideCollapse"
            aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="navbar-collapse offcanvas-collapse" id="navbarsExampleDefault">
            <ul class="navbar-nav flex-wrap bd-navbar-nav pt-2 py-md-0 text-start text-custom">
                <!-- flex-row vardı -->
                <li class="nav-item col-md-auto d-lg-none">
                    <a class="nav-link" aria-current="page" routerLink="/">
                        {{getTranslate("homePage")}}
                    </a>
                </li>
                <li class="nav-item col-md-auto ">
                    <a class="nav-link" aria-current="page" routerLink="/about-us">
                        {{getTranslate("aboutUs")}}
                    </a>
                </li>
                <li class="nav-item col-md-auto">
                    <!-- her birinde col 6 vardı -->
                    <a class="nav-link" aria-current="page" routerLink="/gallery">
                        {{getTranslate("gallery")}}
                    </a>
                </li>
                <li class="nav-item col-md-auto">
                    <a class="nav-link" aria-current="page" routerLink="/references">
                        {{getTranslate("references")}}
                    </a>
                </li>
                <li class="nav-item col-md-auto">
                    <a class="nav-link" aria-current="page" routerLink="/contact">
                        {{getTranslate("contact")}}
                    </a>
                </li>
            </ul>

            <hr class="d-md-none text-dark-50">

            <ul class="navbar-nav flex-row flex-wrap ms-md-auto align-items-center text-start text-custom">

                <li class="nav-item col-12 col-lg-auto">
                    <!-- LG -->
                    <a class="nav-link p-2 d-none d-lg-block" href="https://wa.me/905425190940" target="_blank"
                        rel="noopener">
                        <i class="fa fa-whatsapp" style="font-size: 24px;" aria-hidden="true"></i>
                    </a>
                    <!-- SM -->
                    <a class="nav-link d-lg-none" href="https://wa.me/905425190940" target="_blank" rel="noopener">
                        <i class="fa fa-whatsapp" style="font-size: 21px; min-width: 18px;" aria-hidden="true"></i>
                        <small class="ms-2 text-secondary">Whatsapp</small>
                    </a>
                </li>

                <li class="nav-item col-12 col-lg-auto">
                    <!-- LG -->
                    <a class="nav-link p-2 d-none d-lg-block" href="https://www.instagram.com/allentplastik/"
                        target="_blank" rel="noopener">
                        <i class="fa fa-instagram" style="font-size: 24px;" aria-hidden="true"></i>
                    </a>
                    <!-- SM -->
                    <a class="nav-link d-lg-none" href="https://www.instagram.com/allentplastik/" target="_blank"
                        rel="noopener">
                        <i class="fa fa-instagram" style="font-size: 21px; min-width: 18px;" aria-hidden="true"></i>
                        <small class="ms-2 text-secondary">İnstagram</small>
                    </a>
                </li>

                <li class="nav-item col-12 col-lg-auto">
                    <!-- LG -->
                    <a class="nav-link p-2 d-none d-lg-block" href="#" target="_blank" rel="noopener">
                        <i class="fa fa-facebook" style="font-size: 24px;" aria-hidden="true"></i>
                    </a>
                    <!-- SM -->
                    <a class="nav-link d-lg-none" href="#" target="_blank" rel="noopener">
                        <i class="fa fa-facebook" style="font-size: 21px; min-width: 18px;" aria-hidden="true"></i>
                        <small class="ms-2 text-secondary">Facebook</small>
                    </a>
                </li>

                <li class="nav-item col-12 col-lg-auto">
                    <!-- LG -->
                    <a class="nav-link p-2 d-none d-lg-block" href="https://www.linkedin.com/company/allent-plastik/"
                        target="_blank" rel="noopener">
                        <i class="fa fa-linkedin" style="font-size: 24px;" aria-hidden="true"></i>
                    </a>
                    <!-- MD - SM -->
                    <a class="nav-link d-lg-none" href="https://www.linkedin.com/company/allent-plastik/"
                        target="_blank" rel="noopener">
                        <i class="fa fa-linkedin" style="font-size: 21px; min-width: 18px;" aria-hidden="true"></i>
                        <small class="ms-2 text-secondary">Linkedin</small>
                    </a>
                </li>


                <!-- LG -->
                <li class="nav-item col-6 col-lg-auto d-none d-lg-block">
                    <a class="nav-link p-2" aria-current="page" routerLink="/tests/details">
                        <ul class="friend-list">
                            <li class="lg">
                                <div class="left" style="margin-right: 0px;">

                                </div>
                                <div class="right">
                                    <h3 class="d-flex justify-content-center lg">
                                        <i class="fa fa-phone lg" style="font-size: 20px; margin-left: 0px;"></i>
                                    </h3>
                                    <p class="text-dark lg">+90 542 519 09 40</p>
                                </div>
                            </li>
                        </ul>
                    </a>
                </li>

                <!-- SM -->
                <li class="nav-item col-12 col-lg-auto d-lg-none mb-3">
                    <a class="nav-link" aria-current="page" routerLink="/contact">
                        <ul class="friend-list sm">
                            <li class="sm">
                                <div class="left" style="margin-right: 0px;">
                                    <i class="fa fa-phone sm" style="font-size: 20px; margin-left: 0px;"></i>
                                </div>
                                <div class="right">
                                    <p class="text-dark sm">+90 542 519 09 40</p>
                                </div>
                            </li>
                        </ul>
                    </a>
                </li>

                <!-- Language -->
                <li class="nav-item dropdown dropdown-menu-end ">
                    <button class="btn btn-outline-dark dropdown-toggle" type="button" data-bs-toggle="dropdown"
                        aria-expanded="false">
                        <!-- <i class="fa fa-cog mr-1"></i>  -->
                        <span class="flag-icon flag-icon-{{getCurrentLanguage().flagCode}} flag-icon-squared"></span>
                        {{getCurrentLanguage()!.languageName}}
                    </button>

                    <ul class="dropdown-menu dropdown-menu-light" aria-labelledby="navbarDropdown">
                        <li *ngFor="let language of languages">
                            <a class="dropdown-item" (click)="setLanguage(language.code)">
                                <span class="flag-icon flag-icon-{{language.flagCode}} flag-icon-squared"></span>
                                {{language.languageName}}
                            </a>
                        </li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</nav>
