<div class="container mt-5 w-100">
    <h1 class="display-4">{{getTranslate('gallery')}}</h1>
    <hr class="">

    <!-- LG -->
    <div class="d-none d-lg-block">
        <div class="row row-cols-1 row-cols-md-3 g-4">
            <div *ngFor="let photo of photos" class="col">
                <div class="mb-3">
                    <img [src]="photo.path" class="img-fluid" alt="...">
                </div>
            </div>
        </div>
    </div>

    <!-- SM -->
    <div class="d-lg-none">
        <div class="row row-cols-1 row-cols-md-3">
            <div *ngFor="let photo of photos" class="col">
                <div class="mb-3">
                    <img [src]="photo.path" class="img-fluid" alt="...">
                </div>
            </div>
        </div>
    </div>
</div>