<div class="container mt-5 w-100">
    <h1 class="display-4">{{getTranslate('gallery')}}</h1>
    <hr class="">

    <!-- LG -->
    <div class="d-none d-lg-block mb-5">
        <div class="row row-cols-1 row-cols-md-3 g-4">
            <div *ngFor="let mold of molds" class="col">
                <div class="card border-light text-white bg-dark h-100">
                    <img [src]="mold.path" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">{{mold.name}}</h5>
                        <p class="card-text" style="overflow-wrap: break-word; white-space: pre-wrap;">{{mold.description}}</p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- SM -->
    <div class="d-lg-none">
        <div class="row row-cols-1 row-cols-md-3">
            <div *ngFor="let mold of molds" class="col">
                <div class="mb-3">
                    <img [src]="mold.path" class="img-fluid" alt="...">
                </div>
            </div>
        </div>
    </div>
</div>