.started-bg {
  background-color: var(--app-home-color);
}

body {
  -ms-overflow-style: none;
  scrollbar-width: none;
  overflow-y: scroll;
}

.bd-masthead {
  background-color: rgb(119, 119, 119);
  box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset,
    rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
}

.btn-info {
  border-color: white;
  border-width: 2px;
}

.homepage {
  min-height: 95vh;
}

hr.featurette-divider {
  margin-top: 5rem;
  margin-bottom: 5rem;
}

.img-sm {
  margin-bottom: 1rem;
}

.list-group .list-group-item {
  background-color: var(--app-background-color);
  color: white;
  border-top: 1px solid #363738;
}

.btn-info:hover {
  border-color: rgba(255, 255, 255, 0);
  border-width: 2px;
}

a.link {
  text-decoration: none;
}

a.link:hover {
  text-decoration: underline;
}

a.unlink {
  text-decoration: none;
}

.carousel-img {
  height: 32rem;
}

.bd-placeholder-img {
  font-size: 1.125rem;
  text-anchor: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}

@media (min-width: 768px) {
  .bd-placeholder-img-lg {
    font-size: 3.5rem;
  }
}
