<div class="bg-dark">
    <div class="container py-5">
        <div class="row h-100 align-items-center py-5">
            <div class="col-lg-6">
                <h1 class="display-4" id="about-us">{{getTranslate('aboutUs')}}</h1>
                <p class="lead text-muted" style="margin-bottom: 5rem;">
                    {{getTranslate('aboutUsPFromDb')}}
                </p>
                <h1 class="display-6" id="vision-and-mission" style="font-size: 2rem;">
                    {{getTranslate('aboutUsVisionAndMissionLead')}}</h1>
                <p class="lead text-muted mb-0">
                    {{getTranslate('aboutUsVisionAndMissionP1')}}
                    {{getTranslate('aboutUsVisionAndMissionP2')}}
                </p>
            </div>
            <div class="col-lg-6 d-none d-lg-block">
                <img src="https://www.allentplastik.com/assets/images/dis_cephe.jpeg" alt="" class="img-fluid">
            </div>
            <!-- <div class="col-lg-6 d-none d-lg-block">
                <img src="https://www.allentplastik.com/assets/images/dis_cephe.jpeg" alt="" class="img-fluid">
            </div> -->
        </div>
    </div>
</div>

<div class="bg-custom py-5">
    <div class="container py-5">
        <!-- <div class="row align-items-center mb-5" id="services">
            <div class="col-lg-6 order-2 order-lg-1" ><i class="fa fa-bar-chart fa-2x mb-3 text-primary"></i>
                <h2 class="font-weight-light" >{{getTranslate('ourServices')}}</h2>
                <p class="font-italic text-muted">
                    {{getTranslate('aboutUsOurServices')}}
                </p>
                <ul class="list-group list-group-flush mb-4">
                    <li class="list-group-item ">
                        <p class="font-italic text-muted">
                            {{getTranslate('aboutUsOurServices/l1')}}
                        </p>
                    </li>
                    <li class="list-group-item">
                        <p class="font-italic text-muted">
                            {{getTranslate('aboutUsOurServices/l2')}}
                        </p>
                    </li>
                    <li class="list-group-item">
                        <p class="font-italic text-muted">
                            {{getTranslate('aboutUsOurServices/l3')}}
                        </p>
                    </li>
                    <li class="list-group-item">
                        <p class="font-italic text-muted">
                            {{getTranslate('aboutUsOurServices/l4')}}...
                        </p>
                    </li>
                </ul>
            </div>
            <div class="col-lg-5 px-5 mx-auto order-1 order-lg-2"><img src="assets/images/img-1.jpg" alt=""
                    class="img-fluid mb-4 mb-lg-0">
            </div>
        </div> -->
        <h2 class="display-4 font-weight-light mb-4" id="machine-parkour">
            {{getTranslate('ourMachineParkour')}}
        </h2>
        <div class="row row-cols-1 row-cols-md-2 g-4">
            <div class="col">
                <div class="card text-white bg-dark h-100">
                    <img src="assets/images/wele-vq650-cnc.jpg" width="500" height="500" class="card-img-top img-fluid"
                        alt="...">
                    <div class="card-body">
                        <h5 class="card-title">{{getTranslate('weleCncName')}}</h5>
                        <p class="card-text text-muted" style="overflow-wrap: break-word; white-space: pre-wrap;">
                            {{getTranslate('weleCncProps')}}
                        </p>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card text-white bg-dark h-100">
                    <img src="assets/images/focus-seiki-vmc650-cnc.png" width="500" height="500"
                        class="card-img-top img-fluid" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">{{getTranslate('focusSeikiCncName')}}</h5>
                        <p class="card-text text-muted" style="overflow-wrap: break-word; white-space: pre-wrap;">
                            {{getTranslate('focusSeikiCncProps')}}
                        </p>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>

<div class="bg-dark py-5">
    <div class="container py-5">

        <!-- Accout Info Accordion -->
        <div class="row mb-4">
            <div class="col-lg-5">
                <h2 class="display-4 font-weight-light" id="account-info">{{getTranslate('accountInfo')}}</h2>
            </div>
        </div>
        <div class="table-responsive text-nowrap">
            <table class="table table-dark table-striped table-bordered">
                <thead>
                    <tr>
                        <th scope="col">{{getTranslate('accountOwner')}}</th>
                        <th scope="col">{{getTranslate('bankName')}}</th>
                        <th scope="col">{{getTranslate('branch')}}</th>
                        <th scope="col">{{getTranslate('foreignCurrency')}}</th>
                        <th scope="col">{{getTranslate('accountNumber')}}</th>
                        <th scope="col">{{getTranslate('iban')}}</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td rowspan="6" class="align-middle">Allent Plastik Kalıp <br> San. ve Tic. Ltd. Şti.</td>
                        <td rowspan="3" class="align-middle">Kuveyt Türk</td>
                        <td rowspan="3" class="align-middle">Büsan</td>
                        <td>TL</td>
                        <td>96299056-1</td>
                        <td>TR960020500009629905600001</td>
                    </tr>
                    <tr>
                        <td>USD</td>
                        <td>96299056-101</td>
                        <td>TR150020500009629905600101</td>
                    </tr>
                    <tr>
                        <td>EURO</td>
                        <td>96299056-103</td>
                        <td>TR580020500009629905600103</td>
                    </tr>
                    <tr>
                        <td rowspan="2" class="align-middle">Yapı Kredi</td>
                        <td>Büsan (1067)</td>
                        <td>TL</td>
                        <td>67117637</td>
                        <td>TR410006701000000067117637</td>
                    </tr>
                    <tr>
                        <td>Midyat (1036)</td>
                        <td>TL</td>
                        <td>67365678</td>
                        <td>TR080006701000000067365678</td>
                    </tr>
                    <tr>
                        <td>VakıfBank</td>
                        <td>Büsan</td>
                        <td>TL</td>
                        <td>---</td>
                        <td>TR920001500158007309574130</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>

<div class="bg-custom py-5">
    <div class="container py-5">
        <div class="row align-items-center mb-4">
            <div class="col-lg-6 order-2 order-lg-1">
                <!-- <h2 class="font-weight-light" id="corporate-info">Fatura Bilgilerimiz</h2> -->
                <h2 class="display-4 font-weight-light mb-5" id="account-info">
                    {{getTranslate('ourBillingInformation')}}
                </h2>
                <p class="font-italic text-muted" style="overflow-wrap: break-word; white-space: pre-wrap;">
                    ALLENT Plastik Kalıp Sanayi ve Ticaret Ltd. Şti.
                    <br><br>
                    {{getTranslate(('address'))}}: {{getTranslate('addressFromDb')}}
                    <br>
                    Selçuk {{getTranslate('taxAdministration')}} - 0551522747
                </p>
                <!-- <a routerLink="/corporate-info" class="btn btn-light px-5 rounded-pill shadow-sm">Learn More</a> -->
            </div>
            <!-- <div class="col-lg-5 px-5 mx-auto order-1 order-lg-2"><img src="assets/images/img-1.jpg" alt=""
                    class="img-fluid mb-4 mb-lg-0">
            </div> -->
        </div>
        <!-- <div class="row align-items-center mb-5" id="services">
            <div class="col-lg-5 px-5"><img src="assets/images/img-1.jpg" alt="" class="img-fluid mb-4 mb-lg-0">
            </div>
            <div class="col-lg-6 order-2 order-lg-1"><i class="fa fa-bar-chart fa-2x mb-3 text-primary"></i>
                <h2 class="font-weight-light">{{getTranslate('ourServices')}}</h2>
                <p class="font-italic text-muted">
                    {{getTranslate('aboutUsOurServices')}}
                </p>
                <ul class="list-group list-group-flush mb-4">
                    <li class="list-group-item ">
                        <p class="font-italic text-muted">
                            {{getTranslate('aboutUsOurServices/l1')}}
                        </p>
                    </li>
                    <li class="list-group-item">
                        <p class="font-italic text-muted">
                            {{getTranslate('aboutUsOurServices/l2')}}
                        </p>
                    </li>
                    <li class="list-group-item">
                        <p class="font-italic text-muted">
                            {{getTranslate('aboutUsOurServices/l3')}}
                        </p>
                    </li>
                    <li class="list-group-item">
                        <p class="font-italic text-muted">
                            {{getTranslate('aboutUsOurServices/l4')}}...
                        </p>
                    </li>
                </ul>
            </div>
        </div> -->
    </div>
</div>

<div class="bg-dark py-5">
    <div class="container py-5">
        <div class="row mb-4">
            <div class="col-lg-5">
                <h2 class="display-4 font-weight-light" id="our-founder">{{getTranslate('ourFounder')}}</h2>
                <!-- <p class="font-italic text-muted">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p> -->
            </div>
        </div>

        <div class="row text-center">

            <!-- Team item-->
            <div class="col-xl-12 col-sm-12 mb-5">
                <div class="about-me row">
                    <div class="bg-custom rounded shadow-sm py-5 px-4 col-lg-3 col-sm-12">
                        <img src="assets/images/co-founder-1.jpg" alt="" width="100"
                            class="img-fluid rounded-circle mb-3 img-thumbnail shadow-sm">
                        <h5 class="mb-0">{{getTranslate('mechEng')}} Bülent Dağ</h5>
                        <span class="small text-uppercase text-muted">{{getTranslate('founder')}}</span>
                        <ul class="social list-inline mt-3 mb-4">
                            <li class="list-inline-item">
                                <a class="social-link" href="https://wa.me/905425190940">
                                    <i class="fa fa-whatsapp"></i>
                                </a>
                            </li>
                            <li class="list-inline-item">
                                <a class="social-link" href="https://www.instagram.com/allentplastik/">
                                    <i class="fa fa-instagram"></i>
                                </a>
                            </li>
                            <li class="list-inline-item">
                                <a class="social-link" href="#">
                                    <i class="fa fa-facebook-f"></i>
                                </a>
                            </li>
                            <li class="list-inline-item">
                                <a class="social-link" href="https://www.linkedin.com/company/allent-plastik/">
                                    <i class="fa fa-linkedin"></i>
                                </a>
                            </li>
                        </ul>
                    </div>

                    <div class="bg-custom rounded shadow-sm pb-5 px-4 col-lg-9 col-sm-12">
                        <!-- <p class="lead text-start">Makine Müh. Bülent DAĞ</p> -->
                        <p class="font-italic text-muted text-start pt-5"
                            style="overflow-wrap: break-word; white-space: pre-wrap;">
                            {{getTranslate('ourFounderLife')}}
                        </p>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>