<div class="container mt-5 w-100">
    <h1 class="display-4">{{getTranslate('references')}}</h1>
    <hr class="">

    <div class="row row-cols-1 row-cols-md-4 g-4">
        <div class="col">
            <img src="assets/images/onur-plas.jpg" class="img" alt="...">
        </div>
        <div class="col">
            <img src="assets/images/aytokfiltre.png" class="img" alt="...">
        </div>
        <div class="col">
            <img src="assets/images/hidromet.png" class="img" alt="...">
        </div>
        <div class="col">
            <img src="assets/images/onur-plas.jpg" class="img" alt="...">
        </div>
    </div>
</div>